<h1>Batch Index Page<h1>
<% @batches.each do |batch| %>
  <h3>Batch Number: <%= link_to batch.number, batch_path(batch.id) %><h3>
  <h3>Start Date: <%= batch.start %></h3>
  <h3>End Date: <%= batch.end %></h3>
  <hr>
<% end %>

<h3>Create a new batch?</h3>
<%= render 'form' %>
